@model IEnumerable<Car_Database.Models.FuelType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fuel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fuel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FuelTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FuelTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FuelTypeID })
        </td>
    </tr>
}

</table>
