@model Car_Database.Models.Cars

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cars</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Displacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Displacement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Power)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Power)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Torque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Torque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriveType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriveType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
