@model IEnumerable<Carinfo.Models.Subaru>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Model
            </th>
            <th>
               Engine Size
            </th>
            <th>
                Cylinder Arrangment
            </th>
            <th>
                Fuel Type
            </th>
            <th>
                GearBox
            </th>
            <th>
                Drive Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Torque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.img)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarModels.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Displacement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cylinders.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelTypes.Fuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GearBoxes.GearBoxType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriveTypes.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Torque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
            <td>

                    <img src="@item.img" type="image/png" />
            </td>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubaruID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubaruID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubaruID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
